<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/fotoJovanjpg.jpg" alt="Jovan Hariono" style="width: 15rem; height: 15rem; border-radius: 50%; border-style: solid; object-fit: contain;" >
            <h1 class="display4">Jovan Hariono</h1>
            <p>Programmer</p>
        </div>
    </div>
</div>
